*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    /* COLOR */
    --white-text: #fff;
    --black-text: #000;
    --nav-hover: #B09486;
    --nav-btn: #B09486;
}

html
{
    font-size: 62.4%;
    scroll-behavior: smooth;
}

@media(max-width:1200px)
{
    html
    {
        font-size: 58%;
    }
}

@media(max-width:900px)
{
    html
    {
        font-size: 54%;
    }
}

@media(max-width:800px)
{
    html
    {
        font-size: 48%;
    }
}

@media(max-width:570px)
{
    html
    {
        font-size: 45%;
    }
}

@media(max-width:400px)
{
    html
    {
        font-size: 38%;
    }
}

@media(max-width:300px)
{
    html
    {
        font-size: 34%;
    }
}

body
{
    font-size: 1.6rem;
}

button
{
    font-size: inherit;
}

.header__section
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 5rem;
    z-index: 1000;
}


.header__logo-rapper
{
    width: fit-content;
}

.header__logo
{
    width: 20rem;
}

.header__menu
{
    display: none;
}
.header__nav
{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav__items
{
    display: flex;
    list-style-type: none;  
    gap: 2.5rem;
}

.nav__item-link
{
    text-decoration: none;
    color: var(--black-text);
}

.nav__item-link:hover
{
    color: var(--nav-hover);;
    border-right:.2rem solid var(--nav-hover) ;
    padding-right: .3rem;
}

.nav__btn
{
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    background-color: var(--nav-btn);
    color: var(--white-text);
    border-radius: 2rem;
    font-weight: 60rem;
    cursor: pointer;
}

.nav__btn:hover
{
    opacity: 0.9;
}

@media(max-width:700px)
{
    .header__nav, .nav__btn
    {
        display: none;
    }

    .header__menu
    {
        display: flex;
        font-size: 3rem;
        cursor: pointer;
    }
}